[Unit]
Description=VNC Service

[Service]
ExecStart=/usr/bin/vncserver -AlwaysShared -geometry 1680x1050 -geometry 1280x1024 -geometry 1280x800 -geometry 1024x768
User=user
Group=users

[Install]
WantedBy=multi-user.target
